#site {
    background-color: hsl(97, 41%, 48%);
}

#content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

body {
    background-color: #666;
}

.foreground-container {
    margin: 0 auto 10em auto;
    background-color: #fff;
    padding-bottom: 2em;
    z-index: 5;
    color: #333;
    max-width: 800px;
    line-height: 1.3;
}

#canvas1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.blog-footer {
    position: absolute;
    bottom: 0;
    height: 2em;
    background-color: #666;
    color: #ddd;
    text-align: center;
}

.blog-title {
    padding-top: 10px;
    margin-top: 0px;
    text-align: center;
    color: hsl(39, 76%, 18%);
    transition: all 1s;
}
.blog-title:hover {
    color: hsl(97, 100%, 23%);
}

.blog-listing {
    margin: auto;
    width: 90%;
}

.foreground-container a {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid hsla(97, 100%, 36%, 0.5);
    transition: 0.1s ease-in all;
}
.foreground-container a:hover {
    border-bottom: 2px solid hsla(97, 100%, 36%, 1);
}

.blog-listing:after {
    content: ' ';
    display: block;
    margin: 10px 0;
    border: 0.5px solid #aaa;
}

.post-date {
    color: #666;
    text-align: left;
    font-size: 0.8em;
}


.post-container {
    padding: 1%;
    background-color: #fefdfd;
    height: 100%;
}

.post-container p,
.post-container ul,
.post-container ol {
    margin: 0;
}
.post-container h2, .post-container h3 {
    margin-bottom: 0;
}

.post-title {
    margin: 1.5em 0;
    color: hsl(97, 100%, 23%);
    text-align: center;
    letter-spacing: 0;
    transition: all 0.3s ease-in;
}
.post-title:hover {
    letter-spacing: 2px;
}

.post-content {
    margin: 0 2%;
    /* Allow whitespace */
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/* Code block formatting */
.post-content pre {
    border-left: 3px solid hsl(97, 82%, 40%);
    overflow-x: scroll;
}

.post-content .hljs-comment {
    color: #ddd;
    font-style: normal;
}
