#site {
    background-color: hsl(97, 41%, 48%);
}

#content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.foreground-container {
    color: #222;
    max-width: 50em;
}

#navigation-label {
    position: fixed;
    top: 0em;
    left: 0;
    height: 1em;
    line-height: 1em;
    width: 38.2%;
    z-index: 3;
    color: #aaa;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

#background-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.foreground-container {
    margin: 2.2em auto;
    background-color: #fff;
    height: 100%;
    width: 98%;
    padding-bottom: 2em;
    z-index: 5;
}

.blog-footer {
    position: absolute;
    bottom: 0;
    height: 2em;
    background-color: #666;
    color: #ddd;
    text-align: center;
}

.blog-title {
    padding-top: 10px;
    text-align: center;
    color: hsl(277, 77%, 18%);
    transition: all 1s;
}
.blog-title:hover {
    color: hsl(97, 100%, 23%);
}

.blog-listing {
    margin: auto;
    width: 90%;
}

.foreground-container a {
    font-family: monospace;
    text-decoration: none;
    font-size: 1.1em;
    color: hsl(97, 100%, 23%);
}
.blog-listing a:hover {
    text-decoration: underline;
}

.blog-listing:after {
    content: ' ';
    display: block;
    margin: 10px 0;
    border: 0.5px solid #aaa;
}

.post-date {
    color: #666;
    text-align: left;
    font-size: 0.8em;
}


.post-container {
    margin: 2%;
    padding: 1%;
    background-color: #fefdfd;
    height: 100%;
}

.post-title {
    margin: 1.5em 0;
    color: hsl(97, 100%, 23%);
    text-align: center;
    letter-spacing: 0;
    transition: all 0.3s ease-in;
}
.post-title:hover {
    letter-spacing: 2px;
}

.post-content {
    margin: 0 2%;
    /* Allow whitespace */
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/* Code block formatting */
.post-content pre {
    padding: 2% 0 2% 6%;
    background-color: hsl(120, 35%, 89%);
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    white-space: pre-wrap;
}
.post-content code {
    background-color: hsl(120, 35%, 89%);
}
