#content {
    background: #F3904F;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #3B4371, #F3904F);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #3B4371, #F3904F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#current-projects {
    position: relative;
    margin: 0;
    padding: 10px;
    word-wrap: break-word;
    text-align: center;
    color: #f2f2f2;
}

.project {
    margin: 10% auto;
    text-align: center;
}

#current-project-title {
    font-size: 6vw;
    margin: 0 auto;
    color: hsl(226, 25%, 90%);
}

#current-projects h3, #current-projects p {
    text-align: center;
    margin: 4% auto;
    width: 70%;
}

#current-projects a {
    letter-spacing: 1px;
    color: #fff;;
    text-decoration: none;
    font-weight: bold;
}

#current-projects a:hover {
    letter-spacing: 3px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    vertical-align: middle;
    justify-content: center;
    margin: 4% 0;
    padding: 0 50px ;
    text-align: center;
    font-family: monospace;
}
.tags li {
    vertical-align: middle;
    padding: 0 10px;
    list-style: none;
    display: inline-block;
    border-right: 1px solid #fff;
}
.tags li:last-child {
    border-right: none;
}

.project-screenshot {
    width: 90%;
}
