#current-projects {
    position: relative;
    margin: 0 auto;
    min-height: 8em;
    overflow: auto;
    padding: 10px;
    word-wrap: break-word;
    text-align: center;
    color: #fff;
    text-shadow: /* black outline to text */
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

#current-projects h3, #current-projects p {
    margin: 0;
    padding-left: 50px;
    width: 70%;
    float: left;
}
#current-projects p {
    padding-top: 20px;
}

#current-projects a {
    letter-spacing: 1px;
    color: #fff;;
    text-decoration: none;
    font-weight: bold;
}

#current-projects a:hover {
    letter-spacing: 3px;
}
