{% extends "base.html" %}
{% load staticfiles %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static "styles.css" %}" type="text/css" />
{% endblock %}

{% block content %}
<body>        
    <div id="foreground-container">
        <div id="topbox">
            <p id="first-line">hello, web!</p>
        </div>

        <div id="midbox">
            <h3 id="current-project-title">Current project</h3>
            <p><a href="https://nathanclonts.com/hydronote/">hydronote</a>: a lightweight note-taking app in the cloud</p>
        </div>

        <div id="color-slider-container">
            <input id="color-slider" type="range" min="0" max="255" value="200" />
        </div>
    </div>

    <canvas id="canvas1" class="fractal-canvas" ></canvas>
    <canvas id="canvas2" class="fractal-canvas" ></canvas>
</body>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static "fractal.js" %}"></script>
{% endblock %}
