{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static "homepage/css/styles.css" %}" type="text/css" />
{% endblock %}

{% block content %}
<body>
    <div class="entry-content">
        <div class="section first-slide">
            <div class="content-wrapper">
                <div class="text-overlay">
                    <h2>
                        I help small businesses save time by creating custom enterprise
                        software.
                    </h2>
                    <div class="contact-button-wrapper">
                        <a href="#contact" class="contact-link-anchor">
                            <button class="btn">Let's talk</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="section second-slide">
            <div class="content-wrapper overflow-hidden">
                <pre><h1 id="baffle-1" class="slide-title baffle-me">Data Is What We Do</h1></pre>

                <div>
                    <p>
                        There are more opportunities now than ever before for businesses
                        to save money and time by using the right software.
                    </p>
                    <p>
                        My focus is putting the right tools into your hands based on
                        the specific needs of your business.
                    </p>
                </div>

                <ul class="iconic-list">
                    <li>
                        <h3>Efficiency</h3>
                        <img src="{% static 'svg/tablet.svg' %}" alt="Computer and phone" width="80px">
                        <p>
                            Enterprise resource planning tools can save
                            time automating manual tasks
                        </p>
                    </li>
                    <li>
                        <h3>Insight</h3>
                        <img src="{% static 'svg/chart.svg' %}" alt="Charts" width="80px">
                        <p>
                            See your whole business at a glance by
                            integrating multiple systems in one place
                        </p>
                    </li>
                    <li>
                        <h3>Improvement</h3>
                        <img src="{% static 'svg/wrench.svg' %}" alt="Gears" width="80px">
                        <p>
                            Need help with an existing application? I can
                            help with security, upgrades, and bug fixes
                        </p>
                    </li>
                </ul>
            
                
                <br>
                <a href="#contact" class="contact-link-anchor">
                    <button class="btn">Let's talk</button>
                </a>


                <blockquote>
                    <p>
                        The endless connections which all things have to each other is only
                        hinted at here, yet the hint is enough.
                    </p>
                    <small class="quote-attribution">Douglas Hofstadter, Gödel, Escher, Bach</small>
                </blockquote>


            </div>
        </div>

        <div class="section about-slide">
            <div class="content-wrapper">
                <h2 class="slide-title center">Technologies</h2>
                <div class="list-wrapper">
                    <div class="technology-category">
                        <h3>Front end</h3>
                        <ul>
                            <li>JavaScript</li>
                            <li>VueJS</li>
                            <li>jQuery</li>
                            <li>Responsive CSS</li>
                            <li>WebSockets</li>
                            <li>Interactive forms and charts</li>
                        </ul>
                    </div>
                    <div class="technology-category">
                        <h3>Back end</h3>
                        <ul>
                            <li>Python</li>
                            <li>SQL</li>
                            <li>NodeJS</li>
                            <li>Django</li>
                            <li>Clojure</li>
                            <li>RESTful APIs</li>
                        </ul>
                    </div>
                    <div class="technology-category">
                        <h3>General</h3>
                        <ul>
                            <li>Server administration</li>
                            <li>SSL and security improvements</li>
                            <li>Functional programming</li>
                            <li>Object-oriented programming</li>
                            <li>Email automation</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <!-- Contact form slide  -->
        <div id="contact" class="section contact-slide">
            <div class="content-wrapper">
                <h2>Contact</h2>
                <p>
                    Shoot me a message in the text box below and I'll get back to you soon!
                </p>

                <form id="contact-form" class="contact-form" role="form" action="send_email" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="field-wrapper">
                            {{ field.errors }}
                            {{ field.label_tag }} {{ field }}
                            {% if field.help_text %}
                                <p class="help">{{ field.help_text|safe }}</p>
                            {% endif %}
                        </div>
                    {% endfor %}

                    <div class="form-response-wrapper">
                        <p id="contact-form-message" class="form-response"></p>
                    </div>
                    <button id="contact-form-submit" class="btn" type="submit" width="20em">Send</button>
                </form>
            </div>
        </div>

        <!-- Footer -->
        <footer class="section">
            <div class="content-wrapper">
                <div>
                    <p>Site by Nathan Clonts © {% now "Y" %} </p>
                    <p>Fort Collins, Colorado</p>
                </div>

                <div>
                    <p><a href="https://github.com/kokopelli314" target="_blank">GitHub</a> | <a href="https://www.linkedin.com/in/nathan-clonts-a94711b6/" target="_blank">LinkedIn</a></p>
                    <p></p>
                </div>
<!--                 
                <div>
                    <h4>Projects</h4>
                    <ul>
                        <li>
                            <a href="https://nathanclonts.com/hydronote/" target="_blank">hydronote</a>
                        </li>
                        <li>
                            <a href="https://nathanclonts.com/podcast/" target="_blank">Podcast site</a>
                        </li>
                        
                    </ul>
                </div> -->

                <br><br>
                <small>Icons by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></small>
            </div>
        </footer>
    </div>

</body>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/0.7.3/webcomponents.min.js"></script>
<script src="{% static "homepage/js/forms.js" %}" type="text/javascript"></script>
{% endblock %}
