html {
    font-family: sans-serif;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

.menu {
    box-sizing: border-box;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #dedede;
    z-index: 1;
    padding: 10% 0;
    transition: transform .45s cubic-bezier(.45,0,0,1);
}

.menu.hidden {
    transform: translateY(-100%);
}

@media screen and (max-width: 600px) {
    .menu {
        bottom: 0;
        background-color: #ccc;
        margin-bottom: 5px;
    }
}


.hamburger {
    z-index: 1;
    position: fixed;
    right: 0;
    color: #444;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    background-color: #777;
}

.hamburger:focus {
    outline: 1px solid rgba(99, 99, 99, 0.33);
    background-color: rgba(245, 235, 255, 0.2);
}
