{% extends "./base_blog.html" %}
{% load static %}

{% block content %}
<body>
    <div class="foreground-container">
        <h1 class="blog-title">Articles</h1>
        {% for post in posts %}
        <div class="blog-listing">
            <h3><a href="{% url 'blog:post' slug=post.slug %}">{{ post.title | safe }}</a></h3>
            <p>{{ post.short_description | safe }}</p>
            <p class="post-date">{{ post.created_date|date:"F d, Y" }}</p>
        </div>
        {% endfor %}
    </div>
</body>
{% endblock %}

{% block scripts %}
{% endblock %}
