{% extends "./base_blog.html" %}
{% load static %}

{% block content %}
<body>
    <div class="foreground-container">
        <div class="post-container">
            <h1 class="post-title">{{ post.title|safe }}</h1>

            <!-- Wrap content in <pre> to allow whitespace  -->
            <pre class="post-content-pre">
                <p class="post-content">{{ post.text|safe }}</p>
            </pre>
            <p class="post-date">
                Created {{ post.created_date|date:"F d, Y" }}
            </p>
        </div>
    </div>
    <canvas id="background-canvas"></canvas>
</body>
{% endblock %}

{% block scripts %}
<script src="{% static "blog/js/blog-background.js" %}" type="text/javascript" ></script>
{% endblock %}
