{% extends "./base_blog.html" %}
{% load static %}

{% block content %}
<body>
    <div class="foreground-container">
        <div class="post-container">
            <h1 class="post-title">{{ post.title|safe }}</h1>

            <!-- Wrap content to allow whitespace  -->
            <div class="post-content">{{ post.text|safe }}</p>
                <p class="post-date">
                    Created {{ post.created_date|date:"F d, Y" }}
                </p>
            </div>
        </div>
    </div>
    <canvas id="canvas1" class="fractal-canvas active"></canvas>
</body>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static "homepage/js/fractal.js" %}"></script>
<script>drawBlogFractals();</script>
{% endblock %}
