{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static "projects/css/styles.css" %}" type="text/css" />
{% endblock %}

{% block content %}
<div id="current-projects">
    <h1 id="current-project-title">Current projects</h3>
    <div class="project">
        <h3><a href="https://nathanclonts.com/hydronote/">hydronote</a></h3>
        <p>a lightweight note-taking app in the cloud</p>
        <ul class="tags">
            <li>Django</li>
            <li>AngularJS</li>
            <li>Django Rest Framework</li>
            <li>tinyMCE rich text editor</li>
        </ul>
    </div>
    <div class="project">
        <h3><a href="https://nathanclonts.com/podcast/">Podcast site</a></h3>
        <p>an interactive podcast website</p>
        <ul class="tags">
            <li>Django</li>
            <li>Customized audio player</li>
        </ul>
    </div>
</div>
{% endblock %}
