body, html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: #aaa;
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
}

#site {
    height: 2000px;
    z-index: 1;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


/*-------------------------*/
/* Button to pull out menu */
/*-------------------------*/

#navigation-label {
    position: fixed;
    top: 30%;
    left: 0;
    padding: 0;
    margin: 0;
    height: 5em;
    line-height: 5em;
    width: 1.5em;
    z-index: 3;
    
    background-color: rgba(102, 102, 102, 0.9);
    color: hsl(200, 100%, 61%);
    text-align: center;
    font-size: 2em;
    border-color: hsla(0, 0%, 0%, 0);
    border-radius: 0px 10px 10px 0px;
    
    transition: background-color 0.5s, color 0.5s;
    transition: all 200ms ease-in;
    
}
#navigation-label:hover {
    background-color: rgb(102, 102, 102);
    color: hsl(200, 100%, 92%);
    border: 1px solid #808080;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: none;
}


#navigation-check {
    display: none;
}
#navigation-check:checked ~ #menu {
    margin: 0;
    box-shadow: 0px 0px 15px black;
}

#navigation-check:checked + #navigation-label {
    left: 200px;
    background-color: rgb(102, 102, 102);
}

#navigation-check:checked ~ #content {
    -webkit-transform: translate3d(200px, 0, 0);
    -moz-transform: translate3d(200px, 0, 0);
    -o-transform: translate3d(200px, 0, 0);
    transform: translate3d(200px, 0, 0);
}

#content {
    transition: all 200ms ease-in;
}


/*----------------*/
/* Side push menu */
/*----------------*/
#menu {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    margin: 0 0 0 -200px;
    color: #aaa;
    background-color: #666;
    transition: all 200ms ease-in;
}

#menu ul {
    width: 200px;
    height: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    background: rgb(102, 102, 102);
    overflow: hidden;
}
#menu li {
    margin:0;
}
#menu a {
    color:#fff;
    font-size:1.25em;
    text-decoration:none;
    display: block;
    padding: 10% 10%;
    font-weight: 300;
    letter-spacing: 4px;
    border-bottom: 1px solid #808080;
}
#menu a:hover {
    background:#4e4e4e;
}
