/* Container for everything except canvasses */
#foreground-container {
    padding-left: 1%;
    padding-right: 1%;
    position: absolute;
    z-index: 1;
    width: 97%;
    text-align: center;

    /* big fonts for better visibility */
    font-size: 1.25em;
    text-shadow: /* black outline to text */
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}


/* Shaded boxes */
#topbox {
    position: relative;
    margin: 0;
    padding: 0;
    top: 0;
    width: 100%;
    text-align: center;
}
#topbox p {
    text-align: center;
    vertical-align: middle;
    max-width: 35em;
    margin: 0 auto;
    padding-bottom: 1em;
    color: hsl(0, 0%, 94%);
}

/* Text */
#topbox h1, #topbox h2 {
    padding-top: 1%;
    color: hsl(0, 0%, 94%);
    top: 1em;
    text-align: center;
}
#topbox h1 {
    font-size: 2em;
    margin-bottom: 0;
}
#topbox h2 {
    padding-top: 0;
    margin-top: 0;
}

#midbox {
    position: relative;
    margin: 0 auto;
    min-height: 8em;
    padding: 10px;
    color: #fff;
    text-shadow: /* black outline to text */
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

#midbox h3, #midbox p {
    margin: 0;
    padding-left: 50px;
    width: 70%;
    text-align: left;
    float: left;
}
#midbox p {
    padding-top: 20px;
}

#midbox a {
    letter-spacing: 1px;
    color: #fff;;
    transition: letter-spacing 0.4s;
    text-decoration: none;
    font-weight: bold;
}

#midbox a:hover {
    letter-spacing: 3px;
}

/* GitHub image link */
.github-cat-block {
    position: relative;
    width: 120px;
    height: 120px;
    margin: auto;
    padding: 0;
    border: 4px solid 'white';
}
.github-link {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 0;
    object-fit: cover;
    image-rendering: crisp-edges;
}
/* Canvas to draw cat */
#catface {
    opacity: 0;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 0;
    object-fit: cover;
    transition: 1s all ease-in;
}
#catface:hover, #catface:active {
    opacity: 1;
}

/* Canvasses for fractals */
.fractal-canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transition: opacity 2s;
    padding: 0;
    margin: 0;
}

#canvas1:hover, #canvas2  {
    opacity: 0;
}

#canvas2:hover, #canvas1 {
    opacity: 1;
}




/*-------------------*/
/* Slider formatting */
/*-------------------*/
input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 30px;
  width: 16px;
  border-radius: 3px;
  background: #dddddd;
  cursor: pointer;
  margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 30px;
  width: 16px;
  border-radius: 3px;
  background: #dddddd;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 30px;
  width: 16px;
  border-radius: 3px;
  background: #dddddd;
  cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #c3c3c3;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(134, 134, 134, 0.26);
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #c3c3c3;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]:focus::-moz-range-track {
background: rgba(134, 134, 134, 0.26);
}

input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #c3c3c3;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-lower {
  background: rgba(134, 134, 134, 0.26);
}
input[type=range]::-ms-fill-upper {
  background: #c3c3c3;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-upper {
  background: rgba(134, 134, 134, 0.26);
}


/* Specific slider positioning */
#color-slider {
    position: fixed;
    bottom: 20px;
    left: 10%;
    right: 10%;
    width: 70%;
    margin: auto;
}

#color-slider-container {
    position: fixed;
    bottom: 0px;
    left: 10%;
    right: 10%;
    width: 75%;
    height: 50px;
    margin: auto;
    background-color: hsla(200, 80%, 22%, 0.6);
    border: 1px solid #222;
}
