html {
    font-family: sans-serif;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}


.section {
    padding: 4% 4%;
    font-size: 1.3em;
    min-height: 75vh;
    box-sizing: border-box;
    color: hsl(212, 13%, 37%);
}

.section .content-wrapper {
    max-width: 800px;
    margin: 0 auto;
}

.section .slide-title {
    color: hsla(107, 45%, 42%, 0.9);
    margin: auto;
    margin-bottom: 4%;
}

.section .slide-title.center {
    text-align: center;
}

.section li {
    margin: 2% 0%;
}

.section p {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

/* Simulate link underline with background-image line */
/* Allows dynamic movement of underline on hover */
.section a {
    color: hsl(38, 13%, 36%);
    text-decoration: none;
    background-position: 0 1em;
    background-size: 2px 2px;
    background-image: linear-gradient(#84765a 50%, transparent 0);
    background-repeat: repeat-x;
    transition: all .1s ease-in-out 0s;
}

.section a:hover,
.section h3 a:hover {
    background-position: 0 .97em;
}

.section em {
    color: hsla(107, 45%, 42%, 1);
    font-weight: bold;
    font-style: normal;
}

.section .img-link {
    background: none;
}

.section.first-slide {
    background: url(../media/van_gogh-green_wheat_fields.jpg) no-repeat center
                center fixed;
    background-size: cover;
    align-items: center;
}

.section.first-slide .text-overlay {
    max-width: 600px;
    background-color: hsla(0, 0%, 100%, 0.8);
    border-radius: 5%;
    height: 100%;
    margin: 0 auto;
    padding: 1em;
}

/* Section background colors */
.section.second-slide {
    background-color: #FFF;
}

.section.about-slide {
    background-color: #f5f5f5;
}

.section.projects-slide {
    background-color: #FFF;
}


/********************/
/* Quotes           */
/********************/
.section blockquote {
    position: relative;
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 0;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

.section blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

.section blockquote:after {
    color: #ccc;
    position: absolute;
    content: close-quote;
    font-size: 4em;
    line-height: 0.1em;
    right: 0;
    bottom: 0.5em;
}

.section blockquote p {
    margin-bottom: 0.33em;
    margin-right: 2em;
    display: inline;
}

.section .quote-attribution {
    display: block;
    margin-top: 1.5em;
    margin-left: .5em;
}

.section .quote-attribution::before {
    content: '— ';
}

/********************/
/* Projects section */
/********************/
.section.projects-slide .project {
    margin-bottom: 4%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

/* Align odd projects to the left */
.section.projects-slide div:nth-of-type(odd) {
    flex-direction: row-reverse;
}

.section.projects-slide .project-description {
    width: 40%;
    margin: 0 1em;
    text-align: center;
}

.section.projects-slide .code-link {
    color: #aaa;
    font-size: 0.75em;
    font-weight: bold;
    text-decoration: none;
    background: none;
    transition: .15s linear color;
}
.section.projects-slide .code-link:hover {
    color: hsl(182, 100%, 46%);
}

.section.projects-slide img {
    width: 100%;
    max-width: 600px;
    border: 2px solid #ddd;
    transition: .2s ease-in border;
}
.section.projects-slide img:hover {
    border: 2px solid #aaa;
}

.section.projects-slide .tags {
    display: flex;
    flex-wrap: wrap;
    vertical-align: middle;
    justify-content: center;
    margin: 2% 0;
    padding: 0 50px ;
    text-align: center;
    font-family: monospace;
}
.section.projects-slide .tags li {
    vertical-align: middle;
    padding: 0 10px;
    list-style: none;
    display: inline-block;
    border-right: 1px solid #aaa;
}
.section.projects-slide .tags li:last-child {
    border-right: none;
}


/******************/
/* Contact form   */
/******************/
.section.contact-slide {
    background-color: #cdcdcd;
    background-color: hsl(212, 13%, 37%);
    color: #FFF;
}

.section.contact-slide h2 {
    color: hsl(104, 100%, 82%);
}

.contact-form {
    margin-top: 4%;
}

.contact-form label {
    display: block;
}

.contact-form button {
    width: 10em;
    height: 3em;
    line-height: 3em;
    font-size: 1em;
    text-transform: uppercase;
    color: #fff;
    background-color: hsl(200, 38%, 45%);
    text-shadow: -1px 1px hsl(200, 38%, 35%);
    border: none;
}

.contact-form button:hover,
.contact-form button.hover {
    background-color: hsl(200, 49%, 35%);
    text-shadow: -1px 1px hsl(200, 38%, 25%);
}

.contact-form button:active,
.contact-form button.active {
    background-color: hsl(200, 49%, 25%);
    text-shadow: -1px 1px hsl(200, 38%, 15%);
}


/* Input areas */
.contact-form .field-wrapper {
    position: relative;
    margin-top: 2.7rem;
    margin-bottom: 2.7rem;
    border-
}

.contact-form input, .contact-form textarea {
    text-transform: none;
    font-size: 1.3em;
    color: inherit;
    background: none;
    padding: .125rem .125rem .0625rem;
    border-width: 0;
    border-color: transparent;
    line-height: 1.9;
    width: 100%;
    transition: all .28s ease;
    box-shadow: none;
    border-bottom: 1px solid #eee;
}

.contact-form input:focus, .contact-form textarea:focus {
    outline: none;
    /* Add border, and reduce margin to avoid shifting element */
    border-bottom-width: 4px;
    margin-bottom: -2px;
}

.contact-form label {
    position: absolute;
    pointer-events: none;
    top: -1.25rem;
    font-size: 1em;
    padding-left: .125rem;
    z-index: 1;
    color: inherit;
    font-weight: 400;
    transition: all .28s ease;
}

.contact-form label.unused-field {
    color: #eee;
    top: .25rem;
    font-size: 1.3em;
}

/********************/
/* Responsiveness   */
/********************/

@media screen and (max-width: 700px) {
    .section.projects-slide .project {
        display: block;
    }
    .section.projects-slide .project-description {
        width: 100%;
    }
}
