{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static "css/contact.css" %}" type="text/css" />
{% endblock %}

{% block content %}
<div class="bg-container">
    <div class="contact-info">
        <h1>Contact</h1>
        <p>
            Want to talk about a project? Shoot me an email at nacclonts@gmail.com or fill out the form below and I'll get back to you.
        </p>

        <form role="form" action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Send</button>
        </form>
    </div>
</div>
{% endblock %}
