input {
    position: absolute;
    z-index: 1;
}


#foreground-container {
    padding-left: 1%;
    padding-right: 1%;
    position: absolute;
    z-index: 1;
    width: 97%;
    text-align: center;
}

#topbox {
    margin: 0;
    background-color: hsla(0, 0%, 39%, 1);
    height: 8em;
}

#first-line {
    margin: 0;
    position: relative;
    color: hsl(0, 0%, 94%);
    font-size: 2em;
    top: 1.5em;
}

#midbox {
    height: 200px;
    background-color: hsla(0, 0%, 75%, 0.5);
    color: #eee;
}

.fractal-canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transition: opacity 2s;
    padding: 0;
    margin: 0;
}

#canvas1:hover, #canvas2  {
    opacity: 0;
}

#canvas2:hover, #canvas1 {
    opacity: 1;
}



#color-slider {
    position: fixed;
    bottom: 0px;
    left: 10%;
    right: 10%;
    width: 70%;
}

#color-slider-container {
    position: fixed;
    bottom: 0px;
    left: 10%;
    right: 10%;
    width: 75%;
    height: 30px;
    background-color: hsla(200, 80%, 22%, 0.6);
    border: 1px solid #222;
}