body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: hsl(0, 0%, 65%);
    
}

input {
    position: absolute;
    z-index: 1;
}



#foreground-container {
    margin: 0;
    position: absolute;
    z-index: 1;
    width: 97%;
    text-align: center;
}

#topbox {
    margin: 0;
    background-color: hsla(0, 0%, 39%, 1);
    height: 8em;
}

#first-line {
    margin: 0;
    position: relative;
    color: hsl(0, 0%, 94%);
    font-size: 2em;
    top: 1.5em;
}

#midbox {
    height: 200px;
    background-color: hsla(0, 0%, 75%, 0.5);

}

.fractal-canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transition: opacity 2s;
}

#canvas1:hover {
    opacity: 0;
}

#canvas2 {
    opacity: 0;
}

#canvas2:hover {
    opacity: 1;
}

#color-slider {
    position: fixed;
    bottom: 0px;
    left: 10%;
    right: 10%;
    width: 80%;
}

#color-slider-container {
    position: fixed;
    bottom: 0px;
    left: 10%;
    right: 10%;
    width: 82%;
    height: 30px;
    background-color: hsla(200, 80%, 22%, 0.6);
    border: 1px solid #222;
}